AddressBook/AddressBook.Domain/Service References/AddressBookServiceReference/AddressBookService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" />
  <xs:complexType name="GetAllStatesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" name="States" nillable="true" type="q1:ArrayOfStateRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllStatesResponse" nillable="true" type="tns:GetAllStatesResponse" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element name="Status" nillable="true" type="tns:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="GetAllPeopleResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" name="People" nillable="true" type="q2:ArrayOfPersonRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllPeopleResponse" nillable="true" type="tns:GetAllPeopleResponse" />
  <xs:complexType name="AddPersonResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element name="PersonIdentifier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddPersonResponse" nillable="true" type="tns:AddPersonResponse" />
  <xs:complexType name="DeletePeopleResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeletePeopleResponse" nillable="true" type="tns:DeletePeopleResponse" />
  <xs:complexType name="GetPersonResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" name="Person" nillable="true" type="q3:PersonRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPersonResponse" nillable="true" type="tns:GetPersonResponse" />
  <xs:complexType name="UpdatePersonResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdatePersonResponse" nillable="true" type="tns:UpdatePersonResponse" />
</xs:schema>