AddressBook/AddressBook.Domain/Service References/AddressBookServiceReference/AddressBookService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" />
  <xs:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" />
  <xs:element name="GetAllStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" minOccurs="0" name="request" nillable="true" type="q1:GetAllStatesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" minOccurs="0" name="GetAllStatesResult" nillable="true" type="q2:GetAllStatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeople">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" minOccurs="0" name="request" nillable="true" type="q3:GetAllPeopleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" minOccurs="0" name="GetAllPeopleResult" nillable="true" type="q4:GetAllPeopleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" minOccurs="0" name="request" nillable="true" type="q5:AddPersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" minOccurs="0" name="AddPersonResult" nillable="true" type="q6:AddPersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePeople">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" minOccurs="0" name="request" nillable="true" type="q7:DeletePeopleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePeopleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" minOccurs="0" name="DeletePeopleResult" nillable="true" type="q8:DeletePeopleResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" minOccurs="0" name="request" nillable="true" type="q9:GetPersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" minOccurs="0" name="GetPersonResult" nillable="true" type="q10:GetPersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" minOccurs="0" name="request" nillable="true" type="q11:UpdatePersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" minOccurs="0" name="UpdatePersonResult" nillable="true" type="q12:UpdatePersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>