AddressBook/AddressBook.Domain/Service References/AddressBookServiceReference/AddressBookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddressBookService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" />
      <xsd:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Responses" />
      <xsd:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" />
      <xsd:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddressBookService_GetAllStates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStates" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_GetAllStates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStatesResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_GetAllPeople_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPeople" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_GetAllPeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_DeletePeople_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePeople" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_DeletePeople_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePeopleResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IAddressBookService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddressBookService">
    <wsdl:operation name="GetAllStates">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/GetAllStates" message="tns:IAddressBookService_GetAllStates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/GetAllStatesResponse" message="tns:IAddressBookService_GetAllStates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/GetAllPeople" message="tns:IAddressBookService_GetAllPeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/GetAllPeopleResponse" message="tns:IAddressBookService_GetAllPeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/AddPerson" message="tns:IAddressBookService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/AddPersonResponse" message="tns:IAddressBookService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePeople">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/DeletePeople" message="tns:IAddressBookService_DeletePeople_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/DeletePeopleResponse" message="tns:IAddressBookService_DeletePeople_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/GetPerson" message="tns:IAddressBookService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/GetPersonResponse" message="tns:IAddressBookService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAddressBookService/UpdatePerson" message="tns:IAddressBookService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAddressBookService/UpdatePersonResponse" message="tns:IAddressBookService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAddressBookService" type="tns:IAddressBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllStates">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/GetAllStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPeople">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/GetAllPeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/AddPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePeople">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/DeletePeople" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IAddressBookService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AddressBookService">
    <wsdl:port name="BasicHttpBinding_IAddressBookService" binding="tns:BasicHttpBinding_IAddressBookService">
      <soap:address location="http://localhost:63395/AddressBookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>