AddressBook/AddressBook.Domain/Service References/AddressBookServiceReference/AddressBookService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" />
  <xs:import schemaLocation="http://localhost:63395/AddressBookService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GetAllStatesRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllStatesRequest" nillable="true" type="tns:GetAllStatesRequest" />
  <xs:complexType name="Request">
    <xs:sequence>
      <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="GetAllPeopleRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllPeopleRequest" nillable="true" type="tns:GetAllPeopleRequest" />
  <xs:complexType name="AddPersonRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" minOccurs="0" name="Person" nillable="true" type="q1:PersonRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddPersonRequest" nillable="true" type="tns:AddPersonRequest" />
  <xs:complexType name="DeletePeopleRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PersonIdentifiers" nillable="true" type="q2:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeletePeopleRequest" nillable="true" type="tns:DeletePeopleRequest" />
  <xs:complexType name="GetPersonRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element name="PersonIdentifier" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetPersonRequest" nillable="true" type="tns:GetPersonRequest" />
  <xs:complexType name="UpdatePersonRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Request">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AddressBook.Data.Common.Records" minOccurs="0" name="PersonRecord" nillable="true" type="q3:PersonRecord" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdatePersonRequest" nillable="true" type="tns:UpdatePersonRequest" />
</xs:schema>